<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.xross.tools.xdecision.editor.DecisionTreeDiagramEditor"
            default="true"
            extensions="xdecision"
            icon="icons/tree.ico"
            id="com.xross.tools.xdecision.editor.DecisionTreeDiagramEditor"
            contributorClass="com.xross.tools.xdecision.editor.DecisionTreeActionBarContributor"
            name="Decision Tree Editor">
         <contentTypeBinding
               contentTypeId="com.xross.tools.xdecisiontree">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            alias-for="dt"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xdecision"
            id="com.xross.tools.xdecisiontree"
            name="Decision Tree"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.xross.tools"
            class="com.xross.tools.xdecision.editor.NewDecisionTreeWizard"
            icon="icons/tree.ico"
            id="com.xross.tools.xdecision.editor.NewDecisionTreeWizard"
            name="New Decision Tree Wizard">
      </wizard>
   </extension>
</plugin>
